<%= form_for @deal_finder, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :FinderName, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :FinderName, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :FinderID, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :FinderID, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :FinderType, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :FinderType, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :IsFinderFavorite, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :IsFinderFavorite, :class => 'check_box' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :targeturl, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :targeturl, :class => 'text_field' %>
    </div>
  </div>
  
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                deal_finders_path, :class => 'btn' %>
  </div>
<% end %>
