<div class="container">
<nav class= "navbar-fixed-bottom navbar-inverse">
   <div class="navbar-inner">
			   
		<div class="nav">  
			<ul class="nav">
				<div class = "span4">
					<h4>
						<%= link_to_unless_current "Home",     root_path %>!!
				        <%= link_to_unless_current "About",	   about_path %>!!
				        <%= link_to_unless_current "Contact",  contact_path %>
				    </h4>
				</div>
			        
				<div class = "span8 text-right">
	            	<%= image_tag("facebook.png", :size => "40x40", :alt => "peeHD.com")%>
	                <%= image_tag("twitter.png",  :size => "40x40", :alt => "peeHD.com")%>
	                <%= image_tag("google.png",   :size => "40x40", :alt => "peeHD.com")%>
	                <%= image_tag("pinterest.png",:size => "40x40", :alt => "peeHD.com")%>
	                <%= image_tag("mail.png",     :size => "40x40", :alt => "peeHD.com")%>
	             </div>
		    </ul>
	      </div><!--End container.-->
	    </div><!-- nav var inner -->
    </div>	<!--navbar.-->
</div><!--End header.-->