    <nav role="navigation" class="navbar navbar-default">
        <!-- Collection of nav links and other content for toggling -->
            <ul class="nav nav-stacked navbar-fixed-btm span1">
            	<li></li>
            	<li></li>
            	<li></li>
            	<li></li>
            	<li><%= image_tag("facebook.png", :alt => "peeHD.com")%></li>
                <li><%= image_tag("twitter.png",  :alt => "peeHD.com")%></li>
                <li><%= image_tag("google.png",   :alt => "peeHD.com")%></li>
                <li><%= image_tag("pinterest.png",:alt => "peeHD.com")%></li>
                <li><%= image_tag("mail.png",     :alt => "peeHD.com")%></li>
            </ul>
    </nav>