<div class="container">
	<div class="row">
	  <div class ="span3">
		<% logo = image_tag("logo1.png", :alt => "peeHD.com") %>
		<%= link_to logo, root_path %>		
	  </div>
	  
	  <div class ="span4">
		<%= render 'layouts/navigation2'%>
	  </div>
	  
	  <div class="span5">
		<nav class="navbar" "navbar-fixed-top">
		  <div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				   
			<div class="nav-collapse collapse">  
				<ul class="text-right">
					<h4>
					<%= link_to_unless_current "Home",   root_path %>!!
				    <%= link_to_unless_current "About",	 about_path %>!!
				    <%= link_to_unless_current "Contact",contact_path %>!!
				    <%if user_signed_in?%> Welcome: <%=current_user.email%>. Not you?
				        <%=link_to "Sign out", destroy_user_session_path, :method => :delete %> 
				        <%else%>
				    <%=link_to "Sign up", new_user_registration_path%>!!
				    <%=link_to "Sign in", new_user_session_path%>
				        <%end%></h4>
				</ul>
		      </div><!--End container.-->
	    </div><!-- nav var inner -->
      </div>	<!--navbar.-->
      </nav>
      </div>
	</div>
</div><!--End header.-->
